.about {
  border-bottom: 1px solid $border-color;
  overflow: auto; // expand to accommodate floats

  &-photo {
    width: 10rem;
    float: right;
    margin: 1.5rem 0 1.5rem 1.5rem;

    @media (max-width: $small-screen) {
      float: none;
      margin: 0;
    }
  }

  &-social {
    list-style: none;
    margin: 1.5rem 0;

    &-username {
      font-family: $monospace;
      font-size: .85rem;
    }
  }
}

.post-list {
  clear: both;
  margin: 1rem 0;

  &-item {
    display: flex;
    justify-content: space-between;
  }

  &-time {
    text-align: right;
    white-space: nowrap;
  }

  &-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}