$default-color: #000;
$default-shade: #000;
$default-tint: #999;
$blue: #ca3a48; // this is actually the link color
$code-color: #000;

$serif-primary: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
$serif-secondary: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;