---
layout: default
---

<div class="post">
  <h1 class="post-title">
    {{ page.title }}
  </h1>

  <p class="post-time">
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
  </p>

  <div class="post-content">
    {{ content }}
  </div>
  
  <div class="post-pagination">
    {% if page.previous.url %}
    <a class="post-pagination-previous arrow" href="{{ page.previous.url | relative_url }}">&#8592; Previous</a>
    {% endif %}
    <a href="{{ '/' | relative_url }}">Home</a>
    {% if page.next.url %}
    <a class="post-pagination-next arrow" href="{{ page.next.url | relative_url }}">Next &#8594;</a>
    {% endif %}
  </div>
</div>